/* Split the screen in half */
.split {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
}

/* Left panel */
.left {
    width: 25%;
    height: 100%;
    left: 0;
    overflow-y: auto;
    background-color: #344955;
}

.left .content {
    padding: 0;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.button-chat {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: transparent;
    padding: .7em 1.5em;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    transition: background 0.05s, border-radius 0.05s;
    border-radius: 10px;
    width: 85%;
    flex-shrink: 0;
    height: 50px; /* Увеличена высота для размещения изображения */
    position: relative;
}

.button-photo {
    position: absolute;
    top: 15%;
    left: 2%;
    width: 50px; /* Ширина изображения */
    height: 50px; /* Высота изображения */
    border-radius: 50%; /* Круглое изображение */
    margin-right: 10px; /* Отступ справа от изображения */
}

.button-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-text {
    width: 100%;
}

.button-text.top-text {
    position: absolute;
    top: 20%;
    right: -35%;
    transform: translate(50%, -50%);
    font-size: 14px;
}

.button-text.middle-text {
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
}

.button-text.bottom-text {
    position: absolute;
    top: 50%;
    left: -30%;
    transform: translate(50%, -50%);
    font-size: 14px;
}

.button-chat:hover {
    background: rgb(52, 82, 85);
}

.button-chat:active {
    background: rgb(112, 160, 131);
}

/* Right panel */
.right {
    width: 75%;
    height: 100%;
    right: 0;
    background-color: #78A083;
    position: fixed;
    top: 0;
}

/* Scrollbar styles */
.left::-webkit-scrollbar {
    width: 6px;
}

.left::-webkit-scrollbar-track {
    background: transparent;
}

.left::-webkit-scrollbar-thumb {
    background-color: #78A083;
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: content-box;
}

.left::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
