/* Разделение экрана на 2 панели */
.split {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
}

/* ----------------------------------LEFT PANEL---------------------------------- */

/* Левая панель */
.left {
    width: 25%;
    height: 93%;
    left: 0;
    top: 7%;
    overflow-y: auto;
    background-color: #344955;
}

.left .content {
    padding: 0;
}

/* Панель с настройками в левой верхней части */
.left-settings-panel {
    width: 25%;
    height: 7%;
    left: 0;
    top: 0;
    background-color: green;
    position: fixed;
    z-index: 1;
}

/* Расположение кнопок чата */
.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

/* Кнопка чата в левой панели чата */
.button-chat {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: transparent;
    padding: .7em 1.5em;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    transition: background 0.05s, border-radius 0.05s;
    border-radius: 10px;
    width: 85%;
    flex-shrink: 0;
    height: 50px; /* Увеличена высота для размещения изображения */
    position: relative;
}

/* Фотография в левой панели чата */
.button-photo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px; /* Ширина изображения */
    height: 50px; /* Высота изображения */
    border-radius: 50%; /* Круглое изображение */
    margin-right: 10px; /* Отступ справа от изображения */
}

.button-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px; /* Отступ слева от текста */
}

.button-text {
    width: 100%;
}

/* Положение текста времени сообщения */
.button-text.time-msg {
    position: absolute;
    top: 25%;
    right: -35%;
    transform: translate(50%, -50%);
    font-size: 12px;
}

/* Положение текста для никнейма */
.button-text.nickname {
    position: absolute;
    top: 25%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
}

/* Положение текста последнего сообщения в левой панели чатов */
.button-text.last-msg {
    position: absolute;
    top: 55%;
    left: -30%;
    transform: translate(50%, -50%);
    font-size: 14px;
}

/* Подсвечивание */
.button-chat:hover {
    background: rgb(52, 82, 85);
}

/* При нажатии подсвечивание */
.button-chat:active {
    background: rgb(112, 160, 131);
}

/* ----------------------------------/LEFT PANEL---------------------------------- */

/* ----------------------------------RIGHT PANEL---------------------------------- */

/* Чистый лист, нужен только при входе, когда пользователь не выбрал чат */
.right-white-list {
    width: 75%;
    height: 100%;
    right: 0;
    background-color: #78A083;
    position: fixed;
    top: 0;
    overflow-y: auto;
}

/* Панель переписки */
.right {
    width: 75%;
    height: 93%;
    right: 0;
    background-color: #78A083;
    position: fixed;
    top: 7%;
    overflow-y: auto;
}

/* Верхняя панель чата */
.right-top-panel {
    width: 75%;
    height: 7%;
    right: 0;
    background-color: #fff;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Отправка сообщения в виде треугольника. Исправить когда-то на норм рисунок */
.send-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
}

/* Отправка сообщения в виде треугольника. Исправить когда-то на норм рисунок */
.send-button::after {
    background-color: transparent;
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 30px solid white;
}

.right .content {
    /* сверху и снизу. Снизу отступ такой из-за ввода сообщения */
    padding: 1% 0 5% 0;
}

.buttons-container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

/* Форма сообщения */
.message-input {
    position: fixed;
    bottom: 0;
    width: 75%;
    height: 7%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

/* Кастомизация кнопки отправки формы */
.login-submit {
    text-decoration: none;
    text-align: center;
    padding: 11px 92px;
    border: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font: 20px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    background: #eb8321;
    -webkit-box-shadow: inset 0px 0px 1px #ffffff;
    -moz-box-shadow: inset 0px 0px 1px #ffffff;
    box-shadow: inset 0px 0px 1px #ffffff;
    opacity: 0.95;
}

/* Ограничение отправки сообщений и текстового поля */
.message-input input {
    width: 80%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* В душе не ебу нах нужна форма, но все ломается без нее */
/* Какого-то хуя это кастомизация */
.message-input button {
    padding: 10px 20px;
    border: none;
    background-color: #78A083;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* Для последовательного размещения ввода текста и кнопки */
.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: transparent;
}

/* Стиль для сообщений */
.message {
    height: 80%;
    background: #e0e0e0;
    top: 0;
    margin: 3px;
    left: 20%;
    right: 20%;
    padding: 10px;
    border-radius: 10px;
    width: 35%; /* Увеличена ширина для лучшего отображения */
}

/* Текст отправителя */
.message-sender {
    font-weight: bold;
    display: block;
    left: 0;
}

/* Текст для текста сообщения */
.message-content {
    margin-top: 5px;
    display: block;
    overflow-wrap: break-word;
    word-break: break-all;
}

/* Текст для отправки сообщений */
.message-time {
    font-size: 12px;
    font-weight: bold;
    display: block;
}

/* Время сообщений в левом нижнем углу */
.message-me .message-time {
    text-align: left;
}

/* Время сообщений в правом нижнем углу */
.message-other .message-time {
    text-align: right;
}


/* Стиль сообщения для других юзеров */
.message-other {
    text-align: left;
    left: 0;
    margin-right: 25%;
    background: #e0e0e0;
    width: 35%;
}

/* Стиль сообщения для себя */
.message-me {
    text-align: right;
    right: 0;
    margin-left: 25%;
    background: blue;
    width: 35%;
}


/* Стиль скроллбара */
.right::-webkit-scrollbar,
.left::-webkit-scrollbar {
    width: 6px;
}

.right::-webkit-scrollbar-track,
.left::-webkit-scrollbar-track {
    background: transparent;
}

.right::-webkit-scrollbar-thumb {
    background-color: #345255;
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: content-box;
}

.left::-webkit-scrollbar-thumb {
    background-color: #78A083;
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: content-box;
}

.right::-webkit-scrollbar-thumb:hover,
.left::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
